a {
  text-decoration: none;
  color: #191919;
}

main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

main input[type="button"] {
  font-size: 100%;
  padding: 2% 2%;
  background: #b1d8dc;
  cursor: pointer;
}

main input[type="button"]:hover {
  background: #029a8d;
}

main input[type="button"]:active {
  color: #191919;
}

span#box {
  font-size: 120%;
  background: #d6cdcb;
  padding: 1% 5%;
  border-radius: 10px;
  color: #763544;
}
