body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  background: #34495e;
}

main {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}

main h1 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

main input[type="text"] {
  font-size: 100%;
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #fff;
  border-radius: 24px;
  transition: 0.25s;
}

main input[type="text"]:focus {
  width: 280px;
  border-color: #20c20e;
}

main input[type="button"] {
  font-weight: bold;
  font-size: 95%;
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #20c20e;
  padding: 14px 40px;
  outline: none;
  color: #fff;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

main input[type="button"]:hover {
  background: #20c20e;
}
